<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNCKH.Properties.Settings.Conn" connectionString="”server=ANHVIET\DMSQL;database=QLDT;integrated security=true”" />
        <add name="QLNCKH.Properties.Settings.QLDTConnectionString" connectionString="Data Source=ANHVIET\DMSQL;Initial Catalog=QLDT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLNCKH.Properties.Settings.QLNCKHConnectionString"
            connectionString="Data Source=DESKTOP-BD23O87\SQLEXPRESS;Initial Catalog=QLNCKH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>